#life-target {
  width: 100%;
  padding-bottom: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

#life {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;

  &:not(.-fullscreen) {
    z-index: -1;

    .life-ui {
      visibility: hidden;
      .life-panel {
        &.-left {
          transform: translateX(-100%);
        }
        &.-right {
          transform: translateX(100%);
        }
      }
    }
  }
  .life-canvas {
    width: 100%;
    height: 100%;
  }

  .life-ui {

    .life-panel {
      display: block;
      position: fixed;
      background: white;
      margin: 20px;
      padding: 5px 20px;
      box-sizing: border-box;
      box-shadow: 2px 4px 4px 1px rgba(0,0,0,.2);
      transition: transform .3s .5s;

      &.-top {
        top: 0;
      }
      &.-bottom {
        bottom: 0;
      }
      &.-right {
        right: 0;
        margin-right: 0;
        border-bottom-left-radius: 20px;
      }
      &.-left {
        left: 0;
        margin-left: 0;
        border-bottom-right-radius: 20px;
      }
      &.-transparent {
        box-shadow: none;
        background: transparent;
      }

      button, a {
        display: inline-block;
        position: relative;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background: white;
        font: inherit;
        text-decoration: none;
        margin: 0 2px;
        padding: .5em 1em;
        padding-left: 35px;
        transition: all .25s;
        box-sizing: border-box;
        &:active {
          box-shadow: inset 0 2px 4px -2px rgba(0,0,0,.2);
        }
        &:before {
          position: absolute;
          left: 5px;
          width: 20px;
          height: 20px;
          content: '';
        }
      }
      .life-btnStart {
        &:before {
          background: url(/assets/img/pause.svg);
        }
        &.-stopped {
          &:before {
            background: url(/assets/img/play.svg);
          }
        }
      }
      .life-btnStep:before {
        background: url(/assets/img/step.svg);
      }
      .life-btnSpeed:before {
        background: url(/assets/img/speed.svg);
      }
      .life-btnRandomize:before {
        background: url(/assets/img/reset.svg);
      }
      .life-btnExit:before {
        background: url(/assets/img/exit.svg);
      }
      .life-btnInfo {
        border-radius: 20px;
        margin: -10px;
        box-shadow: 2px 4px 4px 2px rgba(0,0,0,.2);
        &:before {
          background: url(/assets/img/info.svg);
        }
      }
    }

    .life-modalContainer {
      display: none;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      &.-modal-visible {
        display: flex;
        align-content: center;
        background: rgba(0,0,0,.1);
      }
      .life-modal {
        position: relative;
        background: white;
        box-sizing: border-box;
        box-shadow: 2px 4px 4px 1px rgba(0,0,0,.2);
        margin: auto;
        width: 100%;
        max-height: 50%;
        max-width: 40em;
        padding: 20px;
        overflow: auto;
      }
    }
  }
}
