<!DOCTYPE HTML>
<html>
  {% include head.html%}
  <body>
    <div class="post-grid">
      <div class="grid-banner" style="background-image:url({{page.banner}})">
        {% if page.banner==null %}
        <div>
          <h1>{{page.title}}</h1>
        </div>
        {% endif %}
      </div>
      <div class="grid-nav">
        {% include nav.html %}
      </div>
      <div class="grid-content">
        <div class="breadcrumbs">
          <a href="/projects.html">‹ Projects</a>
        </div>
        <header>
          <h1>{{page.title}}</h1>
          <p>{{page.subtitle}}</p>
        </header>
        <section class="content">
          {{ content }}
        </section>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
